In [1]:
import ibm_db
dsn_driver = "IBM DB2 ODBC DRIVER"
dsn_database = "BLUDB" 
dsn_hostname = "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net" 
dsn_port = "50000"               
dsn_protocol = "TCPIP"    
dsn_uid = "sjx28404"      
dsn_pwd = "6s4h3v@49qdtp25h" 

dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)


try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  sjx28404 on host:  dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net

In [2]:
stmt=ibm_db.exec_immediate(conn,
                           "CREATE TABLE TRUCKS(SERIAL_NO VARCHAR(20) PRIMARY KEY NOT NULL,MODEL VARCHAR(20) NOT NULL,MANUFACTURER VARCHAR(20) NOT NULL,ENGINE_SIZE VARCHAR(20) NOT NULL,TRUCK_CLASS VARCHAR(20) NOT NULL) ")

 SQLCODE=-601

In [ ]:
stmt=ibm_db.exec_immediate(conn,"INSERT INTO TRUCKS(SERIAL_NO,MODEL,MANUFACTURER,ENGINE_SIZE,TRUCK_CLASS)VALUES('A1234','LONESTAR','INTERNATIONAL TRUCKS','CUMMINS ISX15','CLASS 8');")

In [ ]:
stmt=ibm_db.exec_immediate(conn,"INSERT INTO TRUCKS(SERIAL_NO,MODEL,MANUFACTURER,ENGINE_SIZE,TRUCK_CLASS)VALUES('B5432','VOLVO VN','VOLVO TRUCKS','VOLVO D11','HEAVY DUTY CLASS 8');")

In [ ]:
stmt=ibm_db.exec_immediate(conn,"INSERT INTO TRUCKS(SERIAL_NO,MODEL,MANUFACTURER,ENGINE_SIZE,TRUCK_CLASS)VALUES('C5674','KENWORTH W900','KENWORTH TRUCK CO','CATERPILLAR C9','CLASS 8');")

In [ ]:
stmt=ibm_db.exec_immediate(conn,"SELECT * FROM TRUCKS")
ibm_db.fetch_both(stmt)

In [ ]:
import pandas as pd
import ibm_db_dbi
pconn=ibm_db_dbi.Connection(conn)
df=pd.read_sql('SELECT * FROM TRUCKS',pconn)
df

In [4]:
chicago_socioeconomic_data = pd.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
chicago_socioeconomic_data

NameError: name 'pd' is not defined

In [ ]:
pip install sqlalchemy

In [ ]:
pip install ipython-sql

In [ ]:
pip install pyhive[presto]

In [3]:
%sql SELECT COUNT(*) FROM chicago_socioeconomic_data;

UsageError: Line magic function `%sql` not found.