In [4]:
import pandas as pd
import numpy as np
df=pd.read_csv("./Desktop/test.csv")
df

       Country  Tests
0      GERMANY  20629
1        ITALY  20577
2  SOUTH KOREA  10659
3          USA  10815
4     PAKISTAN    419
5        INDIA    243

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.bar(x=df["Country"],y=df["Tests"])

TypeError: bar() missing 1 required positional argument: 'height'

In [ ]:
df

In [ ]:
import matplotlib.pyplot as plt


country = ['GERMANY', 'ITALY', 'SOUTH KOREA', 'USA', 'PAKISTAN','INDIA']
tests = [20629,20577,10659,10815,419,243]

plt.bar(country,tests)
plt.ylim(0,)
plt.show()

In [ ]:
import os
import numpy as np
import matplotlib.pyplot as plt

x = ['GERMANY', 'ITALY', 'SOUTH KOREA', 'USA', 'PAKISTAN','INDIA']
y = [20629,20577,10659,10815,419,243]

fig, ax = plt.subplots()    
width = 0.75 # the width of the bars 
ind = np.arange(len(y))  # the x locations for the groups
ax.barh(ind, y, width, color="Blue")
ax.set_yticks(ind+width/2)
ax.set_yticklabels(x, minor=False)
plt.title('TESTS PER 1 MILLION POPULATION')
plt.xlabel('TESTS DONE \n source:worldometers.info')
plt.ylabel('COUNTRY') 
for i, v in enumerate(y):
    ax.text(v + 3, i + .25, str(v), color='blue', fontweight='bold')
plt.show()
plt.savefig(os.path.join('test.png'), dpi=300, format='png', bbox_inches='tight')